.Products {

  text-align: center;
  min-height: 800px;
  background-color: rgb(10, 145, 45);
}

.Products-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}